# Environment
NODE_ENV=development

# MongoDB URI
MONGO_URI=mongodb://username:password@host:port/database

# Server port
PORT=8080

# Logger directory
LOG_DIR=logs

# JWT secret
JWT_SECRET=your-secret-key

# CORS URL
CORS_URL=http://localhost:3000