PORT=8080
NODE_ENV=development

# MongoDB URI
MONGO_URI=mongodb://username:password@host:port/database

# JWT secret
JWT_SECRET=your-secret-key
TOKEN_ISSUER=hrms-backend
TOKEN_AUDIENCE=hrms-frontend
TOKEN_SECRET=hrms-secret-key
TOKEN_ALGORITHM=HS256
ACCESS_TOKEN_VALIDITY_SEC=3600
REFRESH_TOKEN_VALIDITY_SEC=86400

# Logger directory
LOG_DIR=logs

# CORS URL
CORS_URL=http://localhost:3000